@using Radial.Web.Mvc.Pagination
@model Radial.Web.Mvc.Pagination.PagedList<Radial.Web.TestSite.Models.PagedItem>
<div id="list_div">
    <h2>
        Ajax</h2>
    @foreach (Radial.Web.TestSite.Models.PagedItem o in Model)
    {
        <p>
            @o.Id
        </p>
    }
    @Html.AjaxPager(Model, new PagerOptions { PageIndexParameterName = "pid", MaxPageIndex = 5, ShowPageIndexBox = true, PageIndexBoxType = Radial.Web.Mvc.Pagination.PageIndexBoxType.DropDownList, ShowGoButton = true }, new AjaxOptions { UpdateTargetId = "list_div" })
</div>
