@using Radial.Web.Mvc.Pagination
@model Radial.Web.Mvc.Pagination.PagedList<Radial.Web.TestSite.Models.PagedItem>
@{
    ViewBag.Title = "Index";
}
@foreach (Radial.Web.TestSite.Models.PagedItem o in Model)
{
    <p>
        @o.Id
    </p>
}
@Html.Pager(Model, new PagerOptions { PageIndexParameterName = "pid", MaxPageIndex=5, ShowPageIndexBox=true, PageIndexBoxType= Radial.Web.Mvc.Pagination.PageIndexBoxType.DropDownList, ShowGoButton=true })
