@{
    ViewBag.Title = "Index";
}
<h2>
    Index</h2>
<script type="text/javascript">
    function onSuccess(data) {
        alert(data);
    }

</script>
<p>
    @using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "Post", OnSuccess = "onSuccess" }))
    {
        @:您的名字：<input type="text" name="name" />
    <input type="submit" value="提交" />
    }
</p>
<p>
    @Ajax.ActionLink("点击自动提交", "Index", new { name = "小明" }, new AjaxOptions { HttpMethod = "Post", OnSuccess = "onSuccess" })
</p>
