<?xml version="1.0" encoding="utf-8"?>
<params xmlns="urn:radial-xmlparam">
  <item name="sinaweibo" description="新浪微博设置">
    <next>
      <item name="appkey">
        <value>2021079346</value>
      </item>
      <item name="appsecret">
        <value>5e14a092233103c3379252a53b616a2b</value>
      </item>
    </next>
  </item>
</params>