<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.driver_class">
      NHibernate.Driver.Sql2008ClientDriver
    </property>
    <property name="dialect">
      NHibernate.Dialect.MsSql2012Dialect
    </property>
    <property name="connection.connection_string">
      Data Source=qdsrv01.zhanghq.net,21431;Database=rdut0;User Id=rdutsa;Password=s2BzHekAXs%3Cd^w;
    </property>
    <property name="show_sql">
      true
    </property>
    <property name="adonet.batch_size">
      50
    </property>
    <property name="query.substitutions">
      true 1, false 0, yes 'Y', no 'N'
    </property>
  </session-factory>
</hibernate-configuration>