<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="connGroup" type="Radial.Persist.Lite.Cfg.ConnectionSection, Radial.Persist.Lite"/>
  </configSections>
  
  <connGroup>
    <conns>
      <add  name="Default" conn="Data Source=.;Initial Catalog=dfx;Integrated Security=True"/>
      <add  name="phSub1" conn="Data Source=[Folder]TestDb.db3;Version=3;" type="Sqlite"/>
    </conns>
  </connGroup>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
      <httpRuntime maxRequestLength="40960"/>
    </system.web>

</configuration>
