<?xml version="1.0"?>
<configuration>
  <components>
    <!--<component id="ILock" Service="Radial.DistLock.ILock, Radial" type="Radial.DistLock.Client.ServiceClient, Radial.DistLock.Client" lifestyle="Singleton"/>-->
    <!--<component id="IParam" Service="Radial.Param.IParam, Radial" type="Radial.Param.XmlParam, Radial" lifestyle="Singleton"/>-->
    <component id="IParamRepository" service="Radial.Data.Nhs.Param.IParamRepository, Radial.Data.Nhs" type="Radial.Data.Nhs.Param.SqlServerParamRepository, Radial.Data.Nhs" lifestyle="Singleton"/>
    <component id="IParam" service="Radial.Param.IParam, Radial" type="Radial.Data.Nhs.Param.DefaultParam, Radial.Data.Nhs" lifestyle="Singleton"/>
    <component id="ISequentialKeyBuilder" service="Radial.ISequentialKeyBuilder, Radial" type="Radial.Data.Nhs.Key.DefaultSequentialKeyBuilder, Radial.Data.Nhs" lifestyle="Singleton"/>
  </components>
</configuration>