<?xml version="1.0" encoding="utf-8" ?>
<mongod xmlns="urn:radial-mongod">
  <storages>
    <server name="test1" connection="mongodb://sardut:123456@mongoc2.grandcloud.cn:10003/rdut"/>
  </storages>
  <persistences>
    <class type="Radial.UnitTest.MongoBook, Radial.UnitTest" collection="book">
      <servers>
        <read>test1</read>
        <write>test1</write>
      </servers>
    </class>
  </persistences>
</mongod>