<?xml version="1.0" encoding="utf-8" ?>
<mongod xmlns="urn:radial-mongod">
  <storages>
    <server name="test1" connection="mongodb://mardut:1q2w3e4r@mongoc2.grandcloud.cn:10004/rdut"/>
  </storages>
  <persistences>
    <class type="Radial.UnitTest.MongoBook, Radial.UnitTest" collection="book">
      <servers>
        <read>test1</read>
        <write>test1</write>
      </servers>
    </class>
    <class type="Radial.Data.Mongod.Param.ItemEntity, Radial.Data.Mongod" collection="param">
      <servers>
        <read>test1</read>
        <write>test1</write>
      </servers>
    </class>
  </persistences>
</mongod>