<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
    <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
    <property name="connection.connection_string">
      Server=45.78.36.29;Database=rdut;Uid=rdut;Pwd=s2BzHekAXs;CharSet=utf8;
    </property>
    <property name="show_sql">
      true
    </property>
    <property name="adonet.batch_size">
      50
    </property>
    <property name="query.substitutions">
      true 1, false 0, yes 'Y', no 'N'
    </property>
    <property name="cache.use_second_level_cache">
      false
    </property>
    <property name ="cache.use_query_cache">
      false
    </property>
    <!--<property name="hbm2ddl.auto">
      update
    </property>-->
    <!--<property name ="cache.provider_class">
      Radial.Persist.Nhs.Cache.Memcached.CacheProvider, Radial.Persist.Nhs
    </property>-->
    <mapping assembly="Radial.UnitTest"/>
  </session-factory>
</hibernate-configuration>