<?xml version="1.0" encoding="utf-8" ?>
<persistence xmlns="urn:radial-persistence">
  <databases>
    <node name="db0">
      <setting type="file">Config\Persist\db0.config</setting>
  </node>
    <node name="db1">
      <setting type="file">Config\Persist\db1.config</setting>
  </node>
  </databases>
  <objects>
    <class name="Question" type="Radial.UnitTest.Persist.Nhs.Domain.Question, Radial.UnitTest">
      <mapping type="file">Config\Persist\Question.hbm.config</mapping>
    </class>
  </objects>
  <storages>
  </storages>
</persistence>