<?xml version="1.0" encoding="utf-8" ?>
<persistence xmlns="urn:radial-persistence">
  <storages>
    <storage alias="db0">
      <config type="file">Config\Persist\Nhibernate.config</config>
    </storage>
  </storages>
  <objects>
    <object class="Radial.UnitTest.Persist.Domain.Question, Radial.UnitTest">
      <mapping>
        <template type="text">
        <![CDATA[
        <hibernate-mapping xmlns="urn:nhibernate-mapping-2.2" assembly="Radial.UnitTest" namespace="Radial.UnitTest.Persist.Domain">
  <class name="Question" table="Question" lazy="false">
    <id name="Id">
      <generator class="Radial.Persist.Nhs.TimingIdGenerator, Radial"/>
    </id>
    <property name="Subject" not-null="true" length="50"/>
    <property name="CreateTime" not-null="true"/>
  </class>
</hibernate-mapping>
        ]]>
        </template>
        <!--<parameters>
          <parameter name="$table$"/>
        </parameters>-->
      </mapping>
      <!--<routes policy="Radial.UnitTest.Persist.Nhs.Routes.QuestionRoutePolicy, Radial.UnitTest">
        <route storage="db0"/>
      </routes>-->
    </object>
  </objects>
</persistence>