<?xml version="1.0" encoding="utf-8" ?>
<persistence xmlns="urn:radial-persistence">
  <storages>
    <storage alias="db0">
      <config type="file">Config\Persist\Nhibernate.config</config>
    </storage>
  </storages>
  <objects>
    <object class="Radial.UnitTest.Persist.Domain.Question, Radial.UnitTest">
      <mapping>
        <template type="text">Config\Persist\Question.hbm.config</template>
        <!--<parameters>
          <parameter name="$table$"/>
        </parameters>-->
      </mapping>
      <!--<routes policy="Radial.UnitTest.Persist.Nhs.Routes.QuestionRoutePolicy, Radial.UnitTest">
        <route storage="db0"/>
      </routes>-->
    </object>
  </objects>
</persistence>