<?xml version="1.0" encoding="utf-8"?>
<params xmlns="urn:radial-xmlparam">
  <item name="test1" description="">
    <value></value>
    <next>
      <item name="level1" description="好人">
        <next>
          <item name="level1-1">
            <next>
              <item name="level1-1-1">
                <value>
                  测试
                </value>
              </item>
            </next>
          </item>
        </next>
      </item>
      <item name="level2" description="好人2" />
      <item name="level3" description="好人3" />
      <item name="level4" description="好人4" />
      <item name="level5" description="好人5" />
    </next>
  </item>
  <item name="test2">
    <value></value>
    <next>
      <item name="levelx">
        <value>萨芬的</value>
      </item>
      <item name="levey">
        <next>
          <item name="levelx"></item>
        </next>
      </item>
    </next>
  </item>
</params>