@model BookNine.TransferObject.UserModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>ID：@Model.Id</p>
<p>Mail：@Model.Mail</p>
<p>RegisterTime：@Model.RegisterTime</p>
<p>ChangePasswordResult：@ViewBag.ChangePasswordResult</p>