<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="DefaultBehavior">
          <serviceThrottling maxConcurrentCalls="65535" maxConcurrentSessions="65535" />
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Radial.Lock.WinService.LockService" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="netTcpBinding" contract="Radial.Lock.ILock"/>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:7522"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
