<?xml version="1.0" encoding="utf-8"?>
<params xmlns="urn:radial-xmlparam">
  <item name="system" description="系统配置">
    <next>
      <item name="timerperiod" description="剔除无用锁定定时器间隔（秒）">
        <value>2</value>
      </item>
      <item name="expired" description="锁定超时时间（秒）">
        <value>30</value>
      </item>
    </next>
  </item>
</params>